.u-section-1 .u-sheet-1 {
  min-height: 395px;
}

.u-section-1 .u-text-1 {
  margin: 88px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 50px 174px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-1 .u-image-1 {
  width: 478px;
  height: 190px;
  margin: -46px 317px 59px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 135px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}