.u-section-1 .u-sheet-1 {
  min-height: 299px;
}

.u-section-1 .u-text-1 {
  margin: 69px 434px 0 auto;
}

.u-section-1 .u-btn-1 {
  margin: 52px auto 60px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 357px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 129px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}